name: Nature Canvas Test
on:
  repository_dispatch:
    types: [start-build]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: 受信テスト
        run: echo "Pythonistaからの命令をキャッチしました！"
